{% extends "base.html.twig" %}

{% block stylesheets %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <!-- Liens Bootsrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <!-- Lien Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <!-- Partie CSS -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
{% endblock %}
{% block body %}
    <body>
        <!-- HEADER -->
        <header id="header">
            <!-- Nav -->
            <nav class="navbar">
                <div class="lien">
                    <a href="#propos" class="cache">À Propos</a>
                    <a href="#parcours" class="cache">Parcours</a>
                    <a href="#competences" class="cache">Compétences</a>
                    <a href="#portfolio" class="cache">Portfolio</a>
                    <a href="#contact" class="cache">Contact</a>
                    <a href="/inscription">Inscription</a>
                    <a href="/login">Connexion</a>
                </div>
            </nav>
        </header>
        <!-- MAIN -->
        <main>
        <article class="image" id="image">
            <h1>Charly Delaize</h1>
        </article>
            <!-- A propos -->
            <article class="propos" id="propos">
                <h2>A propos de moi</h2>
                <p>J'ai toujours été intéressé par l'informatique. J'ai eu un PC enfant et j'ai découvert cet univers, je me suis adapté aux évolutions (Windows 98, XP).</p>
            </article>
            <!-- Parcours -->
            <article class="parcours" id="parcours">
                <h2>Parcours</h2>
                <p>J'ai fait un BTS SIO (Service Informatique aux Organisations) et des études de graphisme, et après un stage informatique en réseau, je suis parti sur une formation de développeur.</p>
                <p>J'ai obtenu un stage en informatique qui s'est bien déroulé (collaborateurs bienveillants, bon environnement), où je préparais et configurais des ordinateurs neufs. A la suite de ce stage, ma tutrice m'a conseillé d'aller vers le développement.</p>
                <p>J'ai commencé à réviser les langages HTML et CSS avant d'aller à la formation. J'ai trouvé cela intéressant. La formation se déroule bien et je fais partie des meilleurs de la classe. </p>
                <a href="Charly_Delaize.pdf" class="btn btn-primary" id="cv">Voir le CV</a>
            </article>
            <!-- Compétences -->
            <article class="competences" id="competences">
                <h2>Compétences</h2>
                {# <table>
                    <tr>
                        <th>Front</th>
                        <th>Back</th>
                        <th>Autres</th>
                    </tr>
                    <tr>
                        <td><a href="read-competences/4" class="voirCompetences"><img src="images/html.png" alt="html"> HTML</a></td>
                        <td><a href="read-competences/7" class="voirCompetences"><img src="images/php.png" alt="php"> PHP</a></td>
                        <td><a href="read-competences/10" class="voirCompetences"><img src="images/git.png" alt="git"> Git</a></td>
                    </tr>
                    <tr>
                        <td><a href="read-competences/5" class="voirCompetences"><img src="images/css.png" alt="css"> CSS</a></td>
                        <td><a href="read-competences/9" class="voirCompetences"><img src="images/angular2.png" alt="angular"> Angular</a></td>
                        <td><a href="read-competences/18" class="voirCompetences"><img src="images/visual_studio.png" alt="visual"> Visual Studio Code</a></td>
                    </tr>
                    <tr>
                        <td><a href="read-competences/6" class="voirCompetences"><img src="images/javascript.png" alt="javascript"> Javascript</a></td>
                        <td><a href="read-competences/11" class="voirCompetences"><img src="images/ajax2.png" alt="ajax"> Ajax</a></td>
                        <td><a href="read-competences/19" class="voirCompetences"><img src="images/xampp.png" alt="xampp"> Xampp</a></td>
                    </tr>
                    <tr>
                        <td><a href="read-competences/8" class="voirCompetences"><img src="images/wordpress.png" alt="wordpress"> Wordpress</a></td>
                        <td><a href="read-competences/12" class="voirCompetences"><img src="images/symphony2.png" alt="symfony"> Symfony</a></td>
                        <td><a href="read-competences/20" class="voirCompetences"><img src="images/gitkraken.png" alt="gitkraken"> Gitkraken</a></td>
                    </tr>
                    <tr>
                        <td><a href="read-competences/21" class="voirCompetences"><img src="images/bootstrap.png" alt="bootstrap"> Bootstrap</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table> #}
                {% for competences in lists %}
                    <table class="langages">
                        <tr>
                            <td>
                                <a href="read-competences/{{competences.id}}" class="voirCompetences"><img src="{{ competences.logo }}" alt="logo" style="width:30px"> {{ competences.titre }}</a>
                            </td>
                        </tr>
                    </table>
                {% endfor %}
                <!-- <ul>
                    <li><i class="fab fa-git-alt"></i></li>
                    <li><i class="fab fa-html5"></i></li>
                    <li><i class="fab fa-css3-alt"></i></li>
                    <li><i class="fab fa-js"></i></li>
                    <li><i class="fab fa-wordpress"></i></li>
                    <li><i class="fab fa-bootstrap"></i></li>
                    <li><i class="fab fa-php"></i></li>
                    <li><i class="fab fa-angular"></i></li>
                    <li><i class="fab fa-symfony"></i></li>
                    <li><i class="fab fa-gitkraken"></i></li>
                </ul> -->
            </article>
            <!-- Portfolio -->
            <article id="portfolio">
                <h2>Portfolio</h2>
                {# <a href="/read-projet/1"><div class="boutique"></div></a>
                <a href="/read-projet/2"><div class="boutique2"></div></a>
                <a href="/read-projet/3"><div class="crud"></div></a>
                <a href="/read-projet/4"><div class="facture"></div></a>
                <a href="/read-projet/5"><div class="sport"></div></a>
                <a href="/read-projet/6"><div class="companyName"></div></a>
                <a href="/read-projet/7"><div class="leBilan"></div></a>
                <a href="/read-projet/8"><div class="voyage"></div></a>
                <div class="clear"></div> #}
                
                    {% for projet in images %}
                    <article class="projet">
                        <table>
                            <a href="read-projet/{{projet.id}}" class="voirProjet"><img src="{{ projet.image }}" alt="logo" style="width:18vh; height:13vh; float:left; margin:1em;"></a>
                        </table>
                    </article>
                    {% endfor %}
                
            </article>
            <!-- Contact -->
            <article class="contact">
                <h2 id="contact">Contact</h2>
                <div class="info">
                    <p>Vous pouvez envoyer un message en remplissant le formulaire ici présent</p>
                </div>
                <div class="formulaire">
                    {{ form_start(formulaire) }}
                        {{ form_row(formulaire.nom) }}
                        {{ form_row(formulaire.prenom) }}
                        {{ form_row(formulaire.email) }}
                        {{ form_row(formulaire.message) }}
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{ form_end(formulaire) }}
                </div>
            </article>
        </main>
        <a href="#header"><i class="fas fa-arrow-up" id="fleche"></i></a>
        <!-- FOOTER -->
        <footer>
            &copy; 2021, Charly Delaize
            <a href="https://www.whire.me/@charlydelaize" target="_blank" class="whire">W</a>
            <a href="https://www.linkedin.com/in/charly-delaize-5a771580/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/CharlyDelaize" target="_blank"><i class="fab fa-github-square"></i></a>
        </footer>
    </body>
</html>
{% endblock %}
