{% extends "base.html.twig" %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="{{ asset('css/read-all.css') }}">
{% endblock %}

{% block body %}
<!-- NAV -->
    <header>
        <nav class="navbar">
            {% if app.user %}
                <div class="mb-3">
                    {{ app.user.username }} <!-- Affiche le mail de l'utilisateur connecté -->
                </div>
            {% else %}
                <meta http-equiv="refresh" content="durée=0.1s;URL=login"> <!-- Si l'utilisateur n'est pas connecté, redirection vers la page connection -->
            {% endif %}
            <h1>Admin</h1>
            <a href="logout">Déconnexion</a>
        </nav>
    </header>
    <!-- TABLEAU DES MESSAGES -->
    <table class="table-secondary">
        <thead>
            <tr>
                <td style="color:white;">Nom</td>
                <td style="color:white;">Prénom</td>
                <td style="color:white;">E-mail</td>
            </tr>
        </thead>
        <tbody>
        {% for contact in liste %}
            <tr>
                <td style="color:white;">{{ contact.nom }}</td>
                <td style="color:white;">{{ contact.prenom }}</td>
                <td style="color:white;">{{ contact.email }}</td>
                <td><a href="read/{{contact.id}}" class="btn btn-light"><i class="far fa-eye" id="eye"></i></a></td>
                <td><a href="edit/{{contact.id}}" class="btn btn-light"><i class="fas fa-pencil-alt" id="pencil"></i></a></td>
                <td><a href="delete/{{contact.id}}" class="btn btn-light"><i class="fas fa-trash" id="trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" id="voirCompetences"><a href="/read-all-competences">Voir les competences</a></button>
    <button type="submit" class="btn btn-primary" id="retourAccueil"><a href="/read-all-projet">Voir les projets</a></button>
    <footer>
        &copy; 2021, Charly Delaize
    </footer>
{% endblock %}
