{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    body{
      background-color: rgb(234, 234, 234);
      margin: 0 auto;
    }

    .navbar{
      background-color: rgb(0, 149, 213);
      opacity: 0.8;
      width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 2em;
    }

    h1{
      color: white;
    }

    .mb-3{
        color: white;
        margin-left: 1em;
        margin-top: 1em;
    }

    .card{
      margin: 0 auto;
      margin-top: 1.4em;
    }

    footer{
      width: 100%;
      margin-top: 38.7em;
      padding: 1em;
      color: white;
      background-color: rgb(0, 149, 213);
    }

    footer i{
      font-size: 30px;
      float: right;
      padding-right: 1em;
      color : white;
      text-decoration: none;
    }
    
    </style>
{% endblock %}

{% block body %}
    <header>
        <nav class="navbar">
            {% if app.user %}
                <div class="mb-3">
                    {{ app.user.username }}
                </div>
            {% else %}
                <meta http-equiv="refresh" content="durée=0.1s;URL=login">
            {% endif %}
            <h1>Admin</h1>
            <a href="logout">Déconnexion</a>
        </nav>
    </header>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ contact.prenom }} {{ contact.nom }}</h5>
            <p>{{ contact.email }}</p>
            <p>{{ contact.message }}</p>
            <a href="/read-all" class="btn btn-primary">Retour</a>
        </div>
    </div>
    <footer>
        &copy; 2021, Charly Delaize
    </footer>
{% endblock %}