{% extends 'base.html.twig' %}

{% block stylesheets %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/new-competences.css') }}">
</head>
{% endblock %}
{% block body %}
<body>
    <header>
        <nav class="navbar">
            {% if app.user %}
                <div class="mb-3">
                    {{ app.user.username }} <!-- Affiche le mail de l'utilisateur connecté -->
                </div>
            {% else %}
                <meta http-equiv="refresh" content="durée=0.1s;URL=login"> <!-- Si l'utilisateur n'est pas connecté, redirection vers la page connection -->
            {% endif %}
            <h1>Admin</h1>
            <a href="logout">Déconnexion</a>
        </nav>
    </header>
    <div class="formulaire">
        {{ form_start(formulaire) }}
            {{ form_row(formulaire.titre) }}
            {{ form_row(formulaire.logo) }}
            {{ form_row(formulaire.niveau) }}
            <button type="submit" class="btn btn-primary" id="bouton">Envoyer</button>
        {{ form_end(formulaire) }}
        <button type="button" class="btn btn-primary"><a href="/read-all-competences" id="voirMessage">Voir mes compétences</a></button>
    </div>
    <footer>
        &copy; 2021, Charly Delaize
    </footer>
</body>
{% endblock %}