{% extends 'base.html.twig' %}

{% block stylesheets %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{{ asset('css/read-all-competences.css') }}">
</head>
{% endblock %}
{% block body %}
<body>
    <header>
        <nav class="navbar">
            {% if app.user %}
                <div class="mb-3">
                    {{ app.user.username }}
                </div>
            {% else %}
                <meta http-equiv="refresh" content="durée=0.1s;URL=login">
            {% endif %}
            <h1>Admin</h1>
            <a href="logout">Déconnexion</a>
        </nav>
    </header>
    <table class="table-secondary">
        <thead>
            <tr>
                <td>Logo</td>
                <td>Titre</td>
            </tr>
        </thead>
        <tbody>
            {% for competences in lists %}
                <tr>
                    <td><img src="{{ competences.logo }}" alt="logo"></td>
                    <td>{{ competences.titre }}</td>
                    <td><button class="btn btn-light"><a href="read-competences/{{competences.id}}"><i class="far fa-eye" id="eye"></i></a></button></td>
                    <td><button class="btn btn-light"><a href="edit-competences/{{competences.id}}"><i class="fas fa-pencil-alt" id="pencil"></i></a></button></td>
                    <td><button class="btn btn-light"><a href="delete-competences/{{competences.id}}"><i class="fas fa-trash" id="trash"></i></button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" id="bouton1"><a href="competences" id="AjoutCompetences">Ajouter une compétence</a></button>
    <button type="button" class="btn btn-primary" id="bouton2"><a href="read-all" id="AjoutCompetences">Voir les messages</a></button>
    <button type="button" class="btn btn-primary" id="bouton3"><a href="read-all-projet" id="AjoutCompetences">Voir les projets</a></button>
    <footer>
        &copy; 2021, Charly Delaize
    </footer>
</body>
{% endblock %}