{% extends 'base.html.twig' %}

{% block stylesheets %}
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/read-competences.css') }}">
</head>
{% endblock %}
{% block body %}
<body>
    <header>
        <nav class="navbar">
            {% if app.user %}
                <div class="mb-3">
                    {{ app.user.username }}
                </div>
            {% endif %}
            {% if app.user %}
                <h1>Admin</h1>
            {% else %}
                <h1 class="competences">Compétences</h1>
            {% endif %}
            {% if app.user %} 
                <a href="logout">Déconnexion</a>
            {% endif %}
        </nav>
    </header>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img src="{{ competences.logo }}" alt="logo">
            <h5>{{ competences.titre }}</h5>
            <p>{{ competences.niveau }}</p>
            {% if app.user %}    
                <a href="/read-all-competences" class="btn btn-primary">Retour</a>
            {% else %}
                <a href="/#competences" class="btn btn-primary">Retour</a>
            {% endif %}
        </div>
    </div>
    <footer>
        &copy; 2021, Charly Delaize
    </footer>
</body>
{% endblock %}